apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
metadata:
  name: github-actions-runner-config

labels:
  - pairs:
      app: github-actions-runner
      managedBy: argocd
      managementCodeGroup: chrismlee42
      managementCodeProject: github-actions-runner-config

namespace: github-actions-runner

patches:
  - patch: |-
      - op: replace
        path: /spec/template/spec/containers/0/env/0/valueFrom/secretKeyRef/name
        value: "github-config"
    target:
      kind: Deployment
      name: controller-manager
  - patch: |-
      - op: replace
        path: /spec/template/spec/containers/0/env/1/valueFrom/secretKeyRef/name
        value: "github-config"
    target:
      kind: Deployment
      name: controller-manager
  - patch: |-
      - op: replace
        path: /spec/template/spec/containers/0/env/2/valueFrom/secretKeyRef/name
        value: "github-config"
    target:
      kind: Deployment
      name: controller-manager
  - patch: |-
      - op: replace
        path: /spec/template/spec/volumes/1/secret/secretName
        value: "github-config"
    target:
      kind: Deployment
      name: controller-manager

resources:
  # https://github.com/actions/actions-runner-controller/releases
  - https://github.com/actions/actions-runner-controller/releases/download/gha-runner-scale-set-0.13.0/actions-runner-controller.yaml
  # - argocd-applications-autoscalingrunnerset.yaml
  # - argocd-applications-ephemeralrunnerset.yaml
  - github-config-secret.yaml
  # - namespace.yaml
